{
	"repositoryUrl": "https://github.com/mjohnson9/macports.git",
	"preset": "conventionalcommits",
	"plugins": [
		"@semantic-release/commit-analyzer",
		"@semantic-release/release-notes-generator",
		["@semantic-release/changelog", {
			"changelogFile": "CHANGELOG.md",
		}],
		["@semantic-release/git", {
			"assets": ["CHANGELOG.md", "iOS/Info.plist", "iosUnitTests/Info.plist"],
		}],
	]
}
